<%- include('../layout', { title: 'About Page' }) %>

<div class="container">
  <div class="content">
    <h2>About Us</h2>
    <p>
      Oscar Enterprises is an ISO 9001:2015 organization established in 2011 by
      Mr. Joshi. Initially, it was a tooling business which was started at a
      very small institution. Later, with the business of tools making, an idea
      of manufacturing connectors was born to establish and start manufacturing
      of global standard products. It was established in 2013.
    </p>
    <p>
      The company has grown to be a leading manufacturer in plastic connection
      technology. It is the only 100% INDIAN firm that started manufacturing
      leak-proof quick connectors since 2013, which is validated and approved by
      many OEMs.
    </p>
    <p>
      The range offered by us is widely acknowledged for high strength, high
      temperature resistance, high quality, accurate designing, pressure
      resistance, superior finish, durability, highly engineered, and easy
      installation.
    </p>

    <h3>OUR VISION</h3>
    <ul>
      <li>To provide one-stop solutions to our customers.</li>
      <li>To establish our BRAND as the most trusted Indian company.</li>
      <li>To achieve a milestone in connection technology globally.</li>
      <li>To create a benchmark.</li>
    </ul>

    <h3>MISSION</h3>
    <p>
      Our mission is to establish our BRAND as such a partner as the most
      genuine, reliable, and safe engineered products supplier by implementing
      global manufacturing technology.
    </p>
  </div>

  <div class="image-container">
    <img src="/images/about-img.jpg" alt="Company Image" />
  </div>
</div>

<%- include('../footer') %>
